<link rel="stylesheet" href="/components/header/header.css">

<nav class="navbar fixed-top navbar-expand">
    <div class="navbar-brand">
        <img src="/assets/favicon.png" alt="Logo">
        <a class="home-btn" href="#/">Home</a>
    </div>

    <div class="navbar-auth" id="auth-actions">
        <button id="logout" class="login-btn-nav">Log out</button>
        <a href="#/login" class="login-btn-nav">Log in</a>
    </div>
</nav>


<script type="module" src="/components/header/header.js">

</script>