* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1;
}