:root {
    --primary-color: #3f51b5;
    --accent-color: #2196f3;
    --background-gradient: linear-gradient(to left, #2196f3, #009688);
    --text-color: #fff;
    --font-main: "Helvetica Neue", sans-serif;
    --input-border: #ccc;
    --input-focus: #3f51b5;
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-main);
}

body {
    background: var(--background-gradient);
    background-blend-mode: overlay;
}

.main-container {
    margin: 50px auto;
    border-radius: 10px;
    max-width: 500px;
}

#header {
    color: var(--text-color);
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
    border-radius: 10px 10px 0 0;
}

#header h1 {
    font-size: 2.5rem;
    margin: 0;
}



.container {
    margin: 2rem 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.element {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 0.5rem;
}

#list-of-people li {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    margin-left: 1rem;
    font-size: 1.1rem;
}

.add-person {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.add-person button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.add-person button:hover {
    background-color: var(--accent-color);
}


#formAddPerson {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

#formAddPerson div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}



#formAddPerson input[type="text"],
#formAddPerson input[type="number"],
#formAddPerson input[type="email"] {
    text-align: center;
    height: 50px;
    border: none;
    background: transparent;
    font-weight: 300;
    width: 200px;
    border-bottom: 2px solid var(--input-border);
    transition: border-color 0.3s;
    font-size: 1rem;
    color: #333;
}

#formAddPerson input:focus {
    outline: none;
    border-bottom-color: var(--input-focus);
}

::placeholder {
    color: grey;
    opacity: 1;
}